<% include ../partials/header %>

<div class="page show-entry">

<main>
    <p class="gray-out">Breadcrumb</p>
    <a href="/growers">Back to Your Search</a>

    <header>
        <img src="<%= '../images/' + grower.image %>">
        <h1><%= grower.name %></h1>    
    </header>

    <div class="show-details-g">

        <p><%= grower.description %></p>
        <div class="meta">
            <ul>
                <li>Last Updated - March 20, 2018
                <li>Originally Submitted - March 3, 2018
                <li>Submitted By -
                    <em><%= grower.author.username %></em></>
            </ul>
        </div>

        <div class="buttons">
            <% if (currentUser && grower.author.id.equals (currentUser._id)) {%>
                User Options - 
                <a class="btn-edit" href="/growers/<%= grower._id %>/edit">Edit</a>
                <button class="btn-delete" href="/growers/<%= grower._id %>/edit">Delete</button>
                <!-- <form class="delete-form" action="/growers/<%= grower._id %>?_method=DELETE" method="POST">
                    <button class="btn-delete">Delete Grower</button>
                </form> -->
            <% } %>

        </div>
        <!-- /.buttons -->

    </div>
    <!-- /.show-details-g -->
</main>

<aside id="comments">

    <h1>Comments</h1>

    <p class="gray-out">Search Comments</p>
    <a class="btn-general" href="/growers/<%= grower._id %>/comments/new">Add New Comment</a>

    <% grower.comments.forEach((comment) => { %>
        <div class="comment-g">

            <p>
                <span class="comment-owner"><%= comment.author.username %></span> 10 days ago
            </p>
            <p class="comment-text">
                <%= comment.text %>
            </p>
            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
            <div class="buttons">
                <a class="btn-edit" href="/growers/<%= grower._id %>/comments/<%= comment._id %>/edit">Edit Comment</a>
                <form class="delete-form" action="/growers/<%= grower._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                    <button class="btn-delete">Delete Comment</button>
                </form>
            </div>
            <% } %>
        </div>
    <% }) %>

    <a href="/growers">Back To Your Search</a>

</aside>

</div>
<!-- /.page.show-entry -->

<% include ../partials/footer %>