<% include ../partials/header %>
<div class="page">

<div class="show-grower">

<main>
    <img class="img-fluid" src="<%= '../images/' + grower.image %>">
    
        <h1><a><%= grower.name %></a></h1>
        <p><%= grower.description %></p>
        <p>
            <em>Submitted By: <%= grower.author.username %></em>
        </p>
        <% if (currentUser && grower.author.id.equals (currentUser._id)) {%>
            <a class="btn-edit" href="/growers/<%= grower._id %>/edit">Edit Grower</a>
            <button class="btn-delete" href="/growers/<%= grower._id %>/edit">Delete Grower</button>
            <!-- <form class="delete-form" action="/growers/<%= grower._id %>?_method=DELETE" method="POST">
                <button class="btn-delete">Delete Grower</button>
            </form> -->
        <% } %>
</main>

<div class="well">
    <div class="text-right">
        <a class="btn btn-success" href="/growers/<%= grower._id %>/comments/new">Add New Comment</a>
    </div>
    <% grower.comments.forEach((comment) => { %>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <strong><%= comment.author.username %></strong>
                <span class="pull-right">10 days ago</span>
                <p>
                    <%= comment.text %> 
                </p>
                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                <p>
                    <a class="btn btn-xs btn-warning" href="/growers/<%= grower._id %>/comments/<%= comment._id %>/edit">Edit Comment</a>
                    <form class="delete-form" action="/growers/<%= grower._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete Comment</button>
                    </form>
                </p>
                <% } %>
            </div>
        </div>
    <% }) %>
    <a href="/growers">Go Back To All Growers</a>
</div>

</div>
<!-- /.show-grower -->

</div>
<!-- /.page -->
<% include ../partials/footer %>